.favorites-container {
  background-color: rgba(44,44,46,0.8);
  margin-top: 100px;
  width: 85%;
  height: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  overflow-y: scroll;
}
