.App {
  height: 100vh;
  /* width: 100vw; */
  background-image: url('../../images/rencen_bw_ls.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}


@media screen and (max-width: 425px) {
  .App {
    background-image: url('../../images/bwcity_and_sky_mobile.jpg');
    background-size: cover;
  }

  a {
    color: black;
  }

}
