.brewery-card-container {
  height: 300px;
  width: 250px;
  margin: 8px;
  /* border: solid black 3px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(249,248,248,0.8);
  border-radius: 11px;
}

.image-fav-container {
  width: 240px;
  height: 100px;
  margin-top: 12.5px;
  display: flex;
  justify-content: center;
  position: relative;
}

.brewery-pic {
  width: 220px;
  height: 120px;
  position: relative;
  top: 0;
  left: 0;
}

.fav-icon-wrapper {
  display: flex;
  position: absolute;
  background-color: rgba(249,248,248,0.8);
  right: 0;
  margin-right: 10px;
}

.favoriting-image {
  height: 30px;
  transition: transform 350ms;
}

.favoriting-image:hover {
  transform: scale(1.09)
}

.info-container {
  /* border: solid red 2px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  width: 225px;
}

.text {
  font-size: 12px;
  margin: 0;
}

.name {
  align-content: center;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid black 2px;
}
.website {
  margin-top: 0;
  color: black;
  font-weight: bold;
  border-bottom: solid black 2px;
}

.address-container {
  /* border: solid blue 1px; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(234,236,240,0.8);
  width: 65%;
  padding: 3px;
}
